<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <title>HomePage</title>
  <style>
  	@import 'https://fonts.googleapis.com/css?family=Open+Sans';
    @import 'http://fonts.googleapis.com/css?family=Berkshire+Swash';
    @import 'http://fonts.googleapis.com/css?family=Merienda+One';
    @import 'http://fonts.googleapis.com/css?family=Cookie';
    @import 'http://fonts.googleapis.com/css?family=Just+Another+Hand';
    @import 'http://fonts.googleapis.com/css?family=Great+Vibes';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  font-family: "Open Sans", "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  min-width: 320px;
  background: linear-gradient(90deg, #4A4A4A, #4A4A4A);
}

#header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(90deg, white, #7CDEAF);
  justify-content: space-around;
  padding-bottom: 25px;
  padding-top: 25px;
  z-index: 1000;
}

#logo-name {
  display: flex;
  align-items: center;
}

#header-img {
  padding: 7px;
  height: 70px;
  display: flex;
}

#company-name {
  font-size: 2.5em;
  display: flex;
  white-space: nowrap;
  font-weight: bold;
  font-family: 'Merienda One', Helvetica, sans-serif;
  color: rgba(0,0,0,0.7);
  text-shadow: 3px 3px 3px #fff;
}

#nav-bar {
  display: flex;
}

.ul-container {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Arial", "Gadget", sans-serif;
}

.nav-link {
  display: flex;
  font-size: 1.2em;
  text-decoration: none;
}
.ul-container li a{
    color: black;
}

.ul-container li a:hover{
  text-shadow: 3px yellow;
  color: #9BC20D;
  font-weight: bold;
}
.contactus h1{
  font-family: 'Merienda One', Helvetica, sans-serif;
    margin-top: 20px;
}

.contactus{
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  
  margin-top: 130px;
  font-family: "Comic Sans MS", "Comic Sans", "cursive";

}

#email, #number, #address{
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
}


#bold{
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}
#contactform{
  background-color: #4A4A4A;
  color: white;
  width: 50%;
  margin: auto;
  text-align: left;
  padding-bottom: 20px;
  border-radius: 3px;
}
input{
  background-color: #272727;
  color: white;
  height: 35px;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 10px;
  border: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.7;
  font-size: 12px; /* Firefox */
}
#send{
  border-radius: 10px;
  padding: 10px;
  background-color: #2ABDDA;
  font-weight: bold;
  color: white;
  cursor: pointer;
  width: 30%;
  margin-top: 20px;
}
textarea{
  background-color: #272727;
  color: white;
  border: none;
  margin-top: 5px;
  padding: 10px;
  padding-top: 20px;
  width: 100%;
}
#happy{
  font-family: "Arial Black";
  font-size: 25px;
  margin-bottom: 30px;
  margin-top: 5px;
}
#thanks{
  color: #DE4A79;
  font-weight: bold;
  font-size: 25px;
  display: none;
}
@media (max-width: 1024px) {
  #header {
    display: flex;
    flex-flow: row wrap;
  }
  
  #logo-name {
    display: flex;
  }
  
  #header-img {
    height: 53px;
    flex: 1 auto;
  }
  
  #company-name {
    flex: 1 auto;
    font-size: 1.4em;
  }
  
  #nav-bar {
    flex: 1 0 100%;
    margin-top: -10px;
    justify-content: center;
  }
  
  .ul-container {
    margin: 5px;
    flex-direction: column;
    align-items: center;
  }
  
  .nav-link {
    margin: auto;
    font-size: 0.9em;
  }
}

  </style>
</head>
<body>

<script>
  
  $(document).ready(function(){
    $("#send").click(function(){
      $("#thanks").css("display", "block");
    });
  });

</script>

	<header id="header">
      <div id="logo-name">
      <img id="header-img" src="bacteria.png" alt="company-logo">
        <p id="company-name">Healthaholic</p>
        </div>
      <nav id="nav-bar">
        <ul class="ul-container">
          <li><a class="nav-link" href="/homepage">Home</a></li>
          <li><a class="nav-link" href="/profilepage">My Profile</a></li>
          <li><a class="nav-link" href="/contact">Contact-Us</a></li>
          <li><a class="nav-link" href="/logout">Logout</a></li>
        </ul>
      </nav>
    </header>

    <div class="contactus" id="contacthere">
  <div style="width: 60%; border-bottom: 2px solid white; margin: auto; margin-bottom: 30px; padding-bottom: 10px;"><h1>CONTACT US</h1>
</div>

<table id="bigtable" width="100%">
  <tr>

 <td style="width: 60%;">
      
      <div id="contactform">
  <form action="/contactform2" method="POST">
    <p id="happy">We'd Love to Hear From You.</p>
    <input type="text" name="name" placeholder="NAME"><br>
    <input type="email" name="email" placeholder="EMAIL"><br>
    <textarea rows="9" cols="50" placeholder="ENTER YOUR MESSAGE HERE..." name="message"></textarea><br>
    <input type="submit" name="subbut" value="Send Message" id="send">
    <p id="thanks">Thanks For Your Response!</p>
  </form>
</div>
      
    </td>

    <td>
      
      <div class="contact-body">
  <table width="100%">
    <tr>
      <td id="email"><p id="bold">Email</p>
        <p>ritspure@gmail.com</p>
        <p>riya19262619@gmail.com</p>
        <p>ritwika.bhattacharjee2018@vitstudent.ac.in</p>
      </td>
    </tr>
    <tr>
      <td id="number">
        <p id="bold">Contact Number</p>
        <p>990326654</p>
        <p>995960220</p>
        <p>932954960</p>
      </td>
      </tr>
      <tr>
      <td id="address">
        <p id="bold">Address</p>
        <p>Chennai</p>
        <p>Kolkata</p>
        <p>Mumbai</p>
        <p>Bhubaneshwar</p>
      </td>

    </tr>
  </table>
</div>


    </td>


  </tr>
</table>


</div>




</body>
</html>

